@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500&family=Poppins:wght@400;500;800&display=swap');


*{
    padding: 0;
    margin: 0;
    
}
:root{
    --lower-bg: #FAFAFA;
}
h4{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #180101;
}
i{
    width: 80px;
    height: 80px;
}