@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500&family=Poppins:wght@400;500;800&display=swap');


*{
    padding: 0;
    margin: 0;
    
}
:root{
    --lower-bg: #FAFAFA;
}

html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
}
h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 4.3125rem;
    line-height: 92px;
    margin-block: 2rem;
}
h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 48px;
    margin-block: 1.6875rem;
}
h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 48px;
    margin-top: 1.6875rem;
}
h4{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #FAFAFA;
}
p{
    line-height: 26px;
    font-size: 1rem;
    font-family: Inter;
}

header{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;

    margin: 2.5rem auto;
    
}
ul,li{
    list-style: none;

}
li{
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #18181B;
}
a {
    color: black;
    font-family: Inter;
    font-weight: 600;
    text-decoration: none;
}


#list-items{
    display: flex;
    gap: 3.5rem;
}
.detty-header{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.sign-up{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.sign-up a{
    border: 1px solid #040301;
    padding: 1rem 3rem;
    border-radius: 5px;

    font-family: Inter ;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

button{
    background: black;
    color: white;
    padding: 0.56rem 1.75rem;
    border-radius: 10px;

    font-family: Inter;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
}
.sign-up button{
    padding: 1rem 3rem;
    border-radius: 5px;
}

/* MAIN */

/* CONTAINER-1 */
.container-1{
    max-width: 700px;
    text-align: center;
    display: block;
    margin: 5.625rem auto;
    margin-bottom: 7rem;
}
.container-1 > p{
    font-size: 1.2rem;
    line-height: 23px;
}
.container-1 > button{
    padding: 1.25rem 6.25rem;
}
.main-text{
    display: inline;
}
/* .place{
    
    background: linear-gradient(90deg, #44BCFF -0.55%, #44B0FF 22.86%, #FF44EC 48.36%, #FF44EC 73.33%, #FF675E 99.34%);
    filter: blur(25px);
    transform: rotate(0deg);
} */
img[src*='DesktopINfo']{
    display: block;
    margin: auto;
}

/* CONTAINER-2 */
.container-2{
    display: block;
    margin: 3rem auto;
    width: 90%;

}
.container-2-upper{
    margin-block: 7rem;
    text-align: center;
}

.offer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    margin-bottom: 3.5rem;

    font-family: Inter;
}


.offers{
    display: flex;
    gap: 3.4375rem;
    justify-content: center;
   
}
/* CONTAINER */
.container-3{
    padding-block: 149px;
    background: var(--lower-bg);

}
.container-3 > h2{
    text-align: center;
    margin-bottom: 73px;
}

.sign{
    
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    width: 382px;
    color: #FAFAFA;
    border-radius: 10px;
    padding-block: 97px;
    padding-inline: 32px 55px; */
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sign > h2{
    background: #000000;
    color: #FAFAFA;
    font-size: 2rem;
    

    padding: 1.25rem 2rem;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
.sign > h4{
    background: #000000;
    max-width: 261px;
    color: #FAFAFA;
    height: 47px;
    padding-block: 1.25rem;
    padding-inline: 1rem 3rem;
    
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}


.how-it-works{
    background: url(/Images/HIW-BCG.svg);
    background-size: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 41px;
    margin: auto;
}

/* CONTAINER-4 */
.container-4{
    background-color: #000000;
    color: #FAFAFA;
    text-align: center;
    padding-block: 2.5rem;
    width: 90%;
    margin: auto;
}
.info-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.info-section input{
    width: 280px;
    background: none;
    border: 1px solid #FAFAFA;
    padding-block: 20px;
    padding-inline: 24px 100px;
    color: #FAFAFA;
    border-radius: 4px;
}
.info-section input::placeholder{
    color: #FAFAFA;
    font-family: Inter;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
}
.customer-info-section{
    display: flex;
    margin-top: 2.6875rem;

    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.customer-info-section button{
    background: #FAFAFA;
    color: #000000;
    padding: 1rem 100px;
    align-self: flex-end;
    border-radius: 4px;
}

/* FOOTER */
footer{
    display: block;
    margin: auto;
    max-width: 521px;
    text-align: center;
    margin-block: 116px 27px;
}
footer ul{
    margin-block: 1rem 2rem;
    justify-content: center;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-block: 32px;
}
footer p{
    font-weight: 400;
    font-family: Inter;
    font-size: 1rem;
    line-height: 24px;
}